.cardContainer {  
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 160px;/* distance from top when sticky - increased to avoid hiding behind heading */

}

.card {
  border-radius: 25px;
  padding: 2rem;
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  position: relative;
}

